body {
    background-color: beige;
}

.main-container {
    border-style: solid;
    border-width: 10px;
    border-color: rgba(0, 128, 70, 0.58);
    padding: 10px;
    opacity: 0.5;
    background : lightgrey;
    width: 80%;
    margin: auto;
}

.secondary-container {
    border-style: solid;
    border-width: 10px;
    border-color: rgba(244, 94, 1, 0.811);
    padding: 10px;
    background : rgb(147, 80, 176);
    width: 80%;
    margin: auto;
}

div.align{
    text-align: center;
}

#font {
    font-family: Impact;
    font-weight: bolder;
 }
